@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap?family=Geologica:wght@100..900&" );

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: linear-gradient(to right, #5c3887, #f0c2fb);
    padding-left: 150px;
    padding-top: 0px;
    font-family: 'Geologica';
  }  

  .login-wrapper h3 {
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .highlight {
    color: #f7f145; /* לדוגמה – אדום נעים */

  }

  .register-btn1{
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    background-color: #f7f145;
    color: #5c3887;
    margin-left: 12px;

  }
  

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10vh;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    color: #5c3887;
    height: 50%;
    width: 30%;
    
  }

  
  .login-box input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 250px;
    border-radius: 8px;
    background-color: #f8f8f8;
    border: none;
    
  }


  .login-btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5c3887;
    margin: 25px;
    color: rgb(255, 255, 255);
  }
  
  .link-btn {
  
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9rem;
    background-color: transparent ;
 
  }
