@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap?family=Geologica:wght@100..900&" );


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

  
.logo {
  font-size: 1.2rem;
  font-weight: 600;
  
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

.username {
  font-size: 1rem;
  white-space: nowrap;
}

.logout-btn {
  padding: 6px 12px;
  background-color: #5c3887;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-right: 0; /* חובה! */
  font-weight: 400;

}
