@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&family=Geologica:wght@100..900&display=swap');


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:40px;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-right:150px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  color:#5c3887;
}

  
.logo-img {
  height: 22px;
  width: auto;
  object-fit: contain;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;

}

.username {
 
  white-space: nowrap;
}

.logout-btn {
  padding: 6px 12px;
  background-color: #5c3887;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px; 
  font-weight: 400;
  position: absolute;
  top: 15px;
  right: 60px;
  padding: 6px 12px;

}
