.virtual-keyboard {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 5px;
    background-color: #e8e8e8;
    max-width: 700px;
}
  

.virtual-keyboard button {
    margin: 4px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    background-color: #f0f0f0;
    cursor: pointer;
    min-width: 40px;
    font-family: 'Arimo';
}

.virtual-keyboard button.space-button {
    min-width: 500px; /* רווח הרבה יותר רחב */
}
   
  
.virtual-keyboard button:hover {
    background-color: #eee;
    border: none;
}